@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');



:root {
    --shadow-color:#E8F0F6;
    --bg-color: #f8fdff;
    --primary-color: #FF9F6A;
    --secondary-color: #FFFFFF;
    --blue-light: #0073FF;
    --blue-medium: #007FF4;
    --blue-dark: #003B79;
    --blue-deep: #002348;
    --font-primary: 'Source Sans Pro', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-primary);
    
}

body,html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
::-webkit-scrollbar{
    display: none;
}

/*  container*/
.container {
    margin: 0 auto;
    /* border:2px solid red; */
}


@media (min-width:1200px){
    .container {
        width: 1170px;
    }  

}
@media (min-width:992px) and (max-width:1199px){
    .container {
        width: 970px;
    }  
     
}
@media (min-width:768px) and (max-width:991px){
    .container {
        width: 720px;
    }   
}

@media (min-width:580px) and (max-width:767px){
    .container {
        width: 550px;
        
    }   
}

@media (min-width:425px) and (max-width:579px){
    .container {
        width: 400px;
    }
        
   

}

 @media (min-width:320px) and (max-width:424px){
    .container {
        width: 300px;        
    }   

   
} 