.feedback-section {
    background-color: var(--bg-color);
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0 8rem 0  ;
}

.feedback h2 {
    width: 620px;
    height: 78px;
    font-weight: 600;
    font-size: 54px;
    line-height: 78px;
    letter-spacing: 0px;
    color: var(--blue-dark);
    /* border: 2px solid; */

}

.feedback .feedback-cards {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows:  1fr; */
    gap: 3.4rem;
    /* border: 2px solid red; */
    /* width: 100%; */
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    
}

.feedback-cards .feedback-card {  
    /* flex-shrink: 0; */
    position: relative;
    width: 550px;
    height: 294px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 4rem;

}



.feedback-cards .feedback-card .quote {
    width: 83px;
    height: 83px;
    font-size: 14px;
    background-color: var(--blue-medium);
    position: absolute;
    top: -25px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 22px 14px 0 18px;

}


.feedback-cards .feedback-card .customer-feedback {
    width: 450px;
    height: 106px;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 0px;
    color: var(--blue-deep);
}


.feedback-card .badge {
    display: flex;
    align-items: center;
    gap: 1rem;
}



.badge .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content h4 {
    width: 200px;
    height: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    color: var(--blue-deep);
    
}

.content p {
    /* width: 70px; */
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
color: var(--blue-deep);            

}



@media screen and (max-width:1199px) {
    
.feedback-cards .feedback-card {  
    /* flex-shrink: 0; */
    width: 450px;
    height: 320px;
    gap: 2rem;
    padding: 3.3rem 2rem;

}

.feedback-cards .feedback-card .customer-feedback {
    width: 420px;
    height: 106px;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 0px;
    color: var(--blue-deep);
}
.feedback-card .badge {
    display: flex;
    align-items: center;
    gap: 1rem;
}

}


@media screen and (max-width:991px) {

    .feedback .feedback-cards {
        gap: 3.4rem;
        /* overflow-x: hidden; */
        
    }
    
    
    .feedback-cards .feedback-card {  
        width: 330px;
        height: 360px;
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 3.8rem  2rem 3.3rem 2rem;
    
    }
    
    .feedback-cards .feedback-card .customer-feedback {
        width: 280px;
        height: 106px;
        font-weight: 400;
        font-size: 20px;
        line-height: 39px;
        letter-spacing: 0px;
        color: var(--blue-deep);
    }
    .feedback-card .badge {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    
    }


    
@media screen and (max-width:767px) {
    .feedback {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem 0 4rem 0  ;
    }
    

    .feedback h2 {
        width: 550px;
        font-size: 50px;
    
    }
    

    .feedback .feedback-cards {
        display: grid;
        grid-template-columns:1fr;
        gap: 3.4rem;        
    }
    
    
    .feedback-cards .feedback-card {  
        width: 100%;
        height: 360px;
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 3.8rem  3rem 3.3rem 3rem;
    
    }
    
    .feedback-cards .feedback-card .customer-feedback {
      width: 450px;
    height: 106px;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 0px;
    color: var(--blue-deep);
  
    }
    .feedback-card .badge {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    .badge .content {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 5px;
    }
     
    .content p {
        height: 23px;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0px;
    color: var(--blue-deep);            
    
    }
    
    
    
    }

    @media screen and (max-width:579px) {
        .feedback {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            padding: 4rem 0 2rem 0  ;
        }

        .feedback h2 {
            width: 400px;
            font-size: 36px;
        
        }
        
    
        .feedback .feedback-cards {
            display: grid;
            grid-template-columns:1fr;
            gap: 3.4rem;        
        }
        
        .feedback-cards .feedback-card {  
            width: 100%;
            height: 360px;
            box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            gap: 5rem;
            padding: 3.8rem  3rem 3.3rem 3rem;
        
        }
        
        .feedback-cards .feedback-card .customer-feedback {
          width: 300px;
          /* border: 1px solid; */
        height: 106px;
        font-weight: 400;
        font-size: 20px;
        line-height: 39px;
        letter-spacing: 0px;
        color: var(--blue-deep);
      
        }
        .feedback-card .badge {
            display: flex;
            align-items: center;
            gap: 2.5rem;
        }
    
        .badge .content {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            gap: 5px;
        }
         
        .content p {
            height: 23px;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0px;
        color: var(--blue-deep);            
        
        }
        
        
        
        }


        @media screen and (max-width:424px) {
            .feedback h2 {
                width: 300px;
                font-size: 28px;
                /* border: 2px solid; */
            
            }
            .feedback-cards .feedback-card .quote {
                width: 75px;
                height: 75px;
                font-size: 14px;
                top: -25px;
                right: -10px;
                padding: 22px 14px 0 18px;
            
            }
            
    

            .feedback .feedback-cards {
                display: grid;
                grid-template-columns:1fr;
                gap: 3.4rem;        
            }
            
            .feedback-cards .feedback-card {  
                width:92%;
                height: 360px;
                box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
                display: flex;
                flex-direction: column;
                gap: 5rem;
                padding: 3.5rem  1rem;
            
            }
            
            .feedback-cards .feedback-card .customer-feedback {
              width: 250px;
              /* border: 1px solid; */
            height: 106px;
            font-weight: 400;
            font-size: 19px;
            line-height: 39px;
            letter-spacing: 0px;
            color: var(--blue-deep);
          
            }
            .feedback-card .badge {
                display: flex;
                align-items: center;
                gap: 2rem;
            }
        
            .badge .content {
                display: flex;
                flex-direction: column;
                align-items: self-start;
                gap: 5px;
            }
            .content h4 {
                font-size: 20px;
                
            }
            
             
            .content p {
                height: 23px;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                letter-spacing: 0px;
            color: var(--blue-deep);            
            
            }
            
            
            
            }