.navbar-section{
  background-color:var(--bg-color);
  width: 100%;
}
.inner-navbar {
  position: relative;
  height: 130px;
}

.inner-navbar .ist-oval {
  position: relative;
  top: -238px;
  left: -300px;
  width: 482px;
  height: 482px;
  border-radius: 50%;
  border: 100px solid #ffffff;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.15);

}


 
 .inner-navbar .second-oval {
   
    width: 971px;
    height: 971px;
    position: absolute;
    z-index: 0;
    top: -548px;
    left: 756px;
    border-radius: 100%;
    box-shadow: #003b7913;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
} 




.inner-navbar .navbar {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;

  width: 100%;
  align-items: center;
}

.inner-navbar .navbar .logo {
  font-size: 34px;
  font-weight: 700;
  color: var(--blue-medium);
}

.inner-navbar .navbar .logo span {
  color: var(--primary-color);
}

.inner-navbar .navbar nav {
  display: flex;
  gap: 4.5rem;
  align-items: center;
}

.inner-navbar .navbar nav ul {
  display: flex;
  gap: 3rem;
  width: 336px;
  height: 20px;
}

.inner-navbar .navbar nav ul li {
  list-style: none;
}
.inner-navbar .navbar nav ul li #home{
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--blue-light);
  
}
.inner-navbar .navbar nav ul li a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--blue-light);

}

.inner-navbar .navbar nav ul li a:hover{
  font-weight: 700;
}
