.newsletter-section {
    background-color: var(--bg-color);
    padding: 6rem 0;
    position: relative;
    /* height: 668px; */
    /* border: 1px solid; */
    /*  */
}

 /*oval  */
.ovalpic {
        position: absolute;
        top: 20px;
        right: -10px;
        margin-left:66.4rem;
        margin-top: -92px;
        z-index: 1;
        /* filter: blur(2px); */
        /* height: 300px; */
        /* width:300px; */
        /* border: 50px solid white; */
        /* box-shadow: 0 4px 100px rgba(0, 0, 0, 0.24); */
      /* border-radius: 100%; */
    }

.newsletter {
    /* position: absolute; */
    width: 1160px;
    height: 478px;
    border-radius: 20px;
    background-color: var(--blue-medium);
    border: none;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
    padding-top: 3rem;
    /* margin-left:6rem; */
        /* top: 120px; */
        /* right: 100px; */
}




.newsletter .news-Content {
    display: flex;
    flex-direction: column;
}


.newsletter .news-Content h4 {
    width: 559px;
    height: 78px;
    font-weight: 600;
    font-size: 48px;
    line-height: 78px;
    letter-spacing: 0px;
    color: var(--secondary-color);

}


.newsletter .news-Content p {
    width: 546px;
    height: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--secondary-color);
    padding-top: 16px
}



.newsletter .input-section {
    position: relative;
    width: 846px;
    height: 120px;
}

.newsletter input {
    border: none;
    width: 846px;
    height: 120px;
    border-radius: 10px;
    padding-left: 30px;

    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    letter-spacing: 0px;
    ;
    color: #9B9B9B;


}



/* responsive css */

@media (min-width:991px) and (max-width:1199px){
    .ovalpic {
        width: 300px;
        height: 300px;
        top: 70px;
        right: -10px;
    }
    .newsletter {
        width: 980px;
    }
    
    
}

@media screen and (max-width:1024px){
    .ovalpic {
        width: 250px;
        height: 250px;
        top: 90px;
        right: -70px;
    }
}


@media screen and (max-width:991px){
    .ovalpic {
        width: 250px;
        height: 250px;
        top: 90px;
        right: 0px;
    }
   
    .newsletter {
        width: 750px;
    }
    .newsletter .news-Content {
        display: flex;
        flex-direction: column;
    }

    
    .newsletter .news-Content h4 {
    z-index: 999;
    }
    
    .newsletter .input-section {
        position: relative;
        width: 600px;
        height: 120px;
        /* border: 2px solid; */
    }
    
    .newsletter input {
        border: none;
        width: 600px;
        height: 120px;
        border-radius: 10px;
        padding-left: 30px;
    
        font-weight: 400;
        font-size: 20px;
        line-height: 39px;
        letter-spacing: 0px;
        ;
        color: #9B9B9B;
    
    }    
}

@media screen and (max-width:768px){
    .ovalpic {
        width: 200px;
        height: 200px;
        top: 100px;
        right: -60px;
    }
}

@media screen and (max-width:767px){
    .ovalpic {
        width: 150px;
        height: 150px;
        top: 120px;
        right: 40px;
    }
   
    .newsletter {
        width: 550px;
        height: 400px;
    }
    .newsletter .news-Content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .newsletter .news-Content h4 {
        width: 500px;
        text-align: center;
    z-index: 999;
    font-size: 40px;
    /* border: 2px solid; */
    }
    .newsletter .news-Content p {
        width: 546px;
        height: 39px;
        font-weight: 400;
        font-size: 18px;
    }
    
    
    .newsletter .input-section {
        position: relative;
        width: 480px;
        height: 120px;
        margin-top: -20px;
        /* border: 2px solid; */
    }
    
    .newsletter input {
        border: none;
        width: 480px;
        height: 100px;
        border-radius: 10px;
        padding-left: 30px;
    
        font-weight: 400;
        font-size: 20px;
        line-height: 39px;
        letter-spacing: 0px;
        ;
        color: #9B9B9B;
    
    
    }
    
    
}


@media screen and (max-width:579px){
    .ovalpic {
        width: 150px;
        height: 150px;
        top: 120px;
        right: 10px;
    }
   
    .newsletter {
        width: 400px;
        height: 300px;
    }
    .newsletter .news-Content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .newsletter .news-Content h4 {
        width: 500px;
        text-align: center;
    z-index: 999;
    font-size: 30px;
    /* border: 2px solid; */
    }
    .newsletter .news-Content p {
        width: 546px;
        height: 39px;
        font-weight: 400;
        font-size: 14px;
    }
    
    
    .newsletter .input-section {
        position: relative;
        width: 360px;
        height: 60px;
        margin-top: -50px;
        /* border: 2px solid; */
    }
    
    .newsletter input {
        border: none;
        width: 360px;
        height: 60px;
        border-radius: 10px;
        padding-left: 30px;
    
        font-weight: 400;
        font-size: 14px;
        line-height: 39px;
        letter-spacing: 0px;
        ;
        color: #9B9B9B;
    
    
    }
    
    
}

@media screen and (max-width:425px){
    .ovalpic {
        width: 150px;
        height: 150px;
        top: 120px;
        right: -50px;
    }

}


@media screen and (max-width:424px){
    .ovalpic {
        width: 150px;
        height: 150px;
        top: 120px;
        right: 10px;
    }
   
    .newsletter {
        width: 300px;
        height: 300px;
    }

    .newsletter .news-Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    
    .newsletter .news-Content h4 {
    width: 500px;
    text-align: center;
    z-index: 999;
    font-size: 26px;
    /* border: 2px solid; */
    }
    
    .newsletter .news-Content p {
        width: 546px;
        height: 39px;
        font-weight: 400;
        font-size: 10px;
        margin-top: -30px;
    }


    .newsletter .input-section {
        position: relative;
        width: 260px;
        height: 60px;
        margin-top: -50px;
        /* border: 2px solid; */
    }
    
    .newsletter input {
        border: none;
        width: 260px;
        height: 60px;
        border-radius: 10px;
        padding-left: 20px;
    
        font-weight: 400;
        font-size: 12px;
        color: #9B9B9B;    
}

}



@media screen and (max-width:424px){
    .ovalpic {
        width: 120px;
        height: 120px;
        top: 130px;
        right: -40px;
    }
   
}