.service-section {
    background-color: var(--bg-color);
}

.service {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* border: 2px solid; */
}

.service .title {
    width: 559px;
    height: 78px;
    font-weight: 600;
    font-size: 54px;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--blue-dark);



}

.service .content {
    /* border: 1px solid ; */
    width: 546px;
    height: 78px;
    font-weight: 400;
    font-size: 19px;
    line-height: 39px;
    text-align: center;
    color: var(--blue-deep);
}

.service .cards {
    display: flex;
    gap: 30px;
    margin-top: 2rem;

}

.cards .card {
    
    width: 268px;
    height: 323px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
    padding: 30px 30px;
    transition: all 0.3s ease-in-out; 
}


.cards .card .icons {
    width: 130px;
    height: 140px;
    border-width: 1px;
    color: var(--blue-medium);

}

.cards .card p {
    width: 140px;
    /* border: 2px solid; */
    height: 30px;
    font-weight: 700;
    font-size: 23px;
    line-height: 100%;
    color: var(--blue-deep);
    margin-top: 4rem;
}

.Learn-more {
    display: none;
}


/* card hover */

.cards .card:hover {
    background-color: var(--blue-medium);
    height: 373px;
    padding: 15px 2rem;
    transform: scale(1.1); 
    
    
    .icons{
        color: var(--secondary-color);
       
    }

    p {
        color: var(--secondary-color);
        margin-top: 2.8rem;
    }

    .Learn-more {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .Learn-more .arrow-icon {
        margin-top: 1rem;
        color: var(--secondary-color);
        font-size: 25px;
    }

    .Learn-more p {
        font-size: 14px;
        font-weight: 600;
        color: var(--secondary-color);
    }
}




@media screen and (max-width:1199px){   
.service .cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    gap: 30px;
    margin-top: 2rem;

}

.cards .card {
    
    width: 100%;
    height: 323px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
    padding: 30px 30px;
    transition: all 0.3s ease-in-out; 
}


}

@media screen and (max-width:579px){   
    
    .service {
        padding: 2rem 0;
    }
    
    .service .title {
        width: 559px;
        height: 78px;
        font-weight: 600;
        font-size: 54px;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: center;
        color: var(--blue-dark);    
    }
    
    .service .content {
        width: 380px;
        height: 78px;
        line-height: 35px;
        text-align: center;
        color: var(--blue-deep);
    }
    
    
    .service .cards {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 30px;
        margin-top: 2rem;
    
    }
    
    .cards .card {        
        width: 100%;
        height: 323px;
        border-radius: 20px;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 100px rgba(0, 0, 0, 0.15);
        padding: 30px 30px;
        transition: all 0.3s ease-in-out; 
    }
    
    
    }
    
    @media screen and (max-width:424px){   
        .service .content {
            font-size: 16px;
            width: 300px;
            height: 78px;
            line-height: 25px;
            text-align: center;
            color: var(--blue-deep);
        }
    }        
        
    