.Specialist-section{
    background-color: var(--bg-color);
    /* background-image: url("../../public/images/Oval Copy 2.png"); */
    /* background-repeat: no-repeat; */
    position: relative;
      
}

.oval-img{
    width: 442px;
    height: 442px;
    border-width: 100px;
    position: absolute;
    top: 0;
    right: -115px;
   
}

.Specialist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:11rem 0 ;
    

}




.Specialist h2{
    width: 691px;
    height: 78px;
    font-weight: 600;
    font-size: 54px;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--blue-dark);
        
}

.Specialist p{
    width: 546px;
height: 78px;
font-weight: 400;
font-size: 20px;
line-height: 39px;
letter-spacing: 0px;
text-align: center;

}


.Specialist .cards{
    display: flex;
gap: 32px;
/* background-color: yellow; */

}



.Specialist .cards .card1{
width: 274px;
height: 448px;
border-radius: 20px;
background-color: var(--secondary-color);
/* border: 2px solid red;  */
display: flex;
flex-direction: column;
gap: 25px;
box-shadow: 0 0 50px #f0f0f0;
}

.Specialist .cards .card1 .top-section{
width: 274px;
height: 324px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background:#AED3E2 ;

}

.cards .card1 .description{
    display: flex;
flex-direction: column;
gap: 16px;
padding-left: 2rem;
}

.description h3{
color: var(--blue-dark);
font-weight: 700;
font-size: 22px;
line-height: 100%;
letter-spacing: 0px;

}

.description span{
font-weight: 500;
font-size: 17px;
line-height: 100%;
letter-spacing: 0px;
color: var(--blue-dark);
}